<%- include('../shared/header.ejs') %>
  <main>
    <h2>Welcome to Stream Theater's View Favorites Page</h2> 
    <div id="searchFavsForm">
      
          <h3 id="searchFavs-header">View Audience Favorites</h3>

        <div id="searchFavs-form">
          <input type="text" name="username" id="username-field" class="searchFavs-form-field" placeholder="Username">
          <input type="password" name="password" id="password-field" class="searchFavs-form-field" placeholder="Password">
            <button id="searchFavs-form-submit">View All</button>
        </div>
    </div>
    <%- include('../shared/footer.ejs') %>
  </main>
  <script>

    
    const main = document.querySelector('main')
    const username = document.getElementById('username-field')
    const password = document.getElementById('password-field')

    const submitButton = document.getElementById('searchFavs-form-submit')
          
    const submit = async function () {


      main.innerHTML = '<h1>Please wait</h1>'
        
        console.log(username)
        
        
      if(username.value === null || username.value === '' || password.value === null || password.value === ''){
          main.innerHTML = `<h3>Please be sure to enter username and password to view Audience Favorites</h3>`
      } else {
        main.innerHTML = `<h3>Audience Favorites</h3><div><table><tr><th>Username</th><th>Movie Title</th><th>Description</th><th>Where to Watch</th></tr><%_ for (const favorite of favorites) { _%><tr><td><%= favorite.user_username %></td><td><%= favorite.movie_name %></td><td><%= favorite.movie_description %></td><td><%= favorite.service_name %></td></tr><%_ } _%></table></div>`     
      }
    
// End of your code ////////////////////////////////////////
}
submitButton.addEventListener('click', (e) => submit())
      
      
      
      
      
      
     
      
  </script>
